//==========================================================================
//
//  A51.rc
//
//==========================================================================

#include "A51Resources.hpp"

A51_ICON_RESOURCE_ID ICON "media\\Dreamland51.ico"
